<div class="weather-app-wdget">
  <ion-row>
    <ion-col size="12" *ngFor="let i of cityName">
      <div class="weather-app-wdget__card">
        <div class="head">
          <p class="fs-4">Hoy</p>
          <span>
            {{ currentTime | date:'dd MMMM' | titlecase }}
          </span>
        </div>
  
        <div class="body">
          <div class="w-50">
            <p class="temp d-flex align-items-start">{{weather.main.temp}}
              <span class="fs-1 pt-3 ps-1 fw-normal text-warning">ºC</span>
            </p>
          </div>
          <div class="w-50 text-center text-primary my-3">
            <div class="img">
              <img src="../assets/img/weather-icons/{{weather.weather[0].icon}}.svg" alt="weather-clima-img">
            </div>
          </div>
        </div>
        <div class="foot">
          <p class="text-light">
            <i class="fas fa-map-marker-alt text-warning me-1"></i>
            {{location}}, {{locCountry}}
          </p>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div class="weather-app-wdget__card">
        <div class="head">
          <p>
            <span class="text-danger me-2">
              <i class="fas fa-chevron-up"></i>
            </span>
            {{ weather.main.temp_max }}
            ºC
            max
          </p>
          <p>
            <span class="text-info me-2">
              <i class="fas fa-chevron-down"></i>
            </span>
            {{ weather.main.temp_min }}
            ºC
            min
          </p>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div class="weather-app-wdget__card p-0">
        <div class="text-center text-white py-4">
          <i class="fas fa-wind fs-1"></i>
          <p class="my-1">
            {{ weather.wind.speed }} km/h
          </p>
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="weather-app-wdget__card p-0">
        <div class="text-center text-white py-4">
          <i class="fas fa-water fs-1"></i>
          <p class="my-1">
            {{ weather.main.humidity }} %
          </p>
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="weather-app-wdget__card p-0">
        <div class="text-center text-white py-4">
          <i class="fas fa-compress fs-1"></i>
          <p class="my-1">
            {{ weather.main.pressure }} bar
          </p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</div>


<div>
  {{ currentTime | date: 'HH:mm - EE'}}
</div>
