/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap');

body,
html,
div,
h1, h2, h3, h4, h5, p,
input, select, button, a {
    font-family: 'Baloo Chettan 2', cursive;
}

body {
    background: #2b2b2b;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1;
}